html {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.5;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  background-color: #fff;
  padding: ;
  margin: 0.3em;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  color: #cc1465;
  text-align: center;
  font-size: 3rem;
  margin: 0.3em;
  padding: 0 0 0.4em;
}

body {
  margin: 0;
}

nav li {
  display: inline;
  text-align: center;

}

nav a {
  font-family: "Georgia", serif;
  color: #fff;
  font-size: 1.125rem;
  background-color: #b2a212;
  margin: 0.1em;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.5em 0.3em;
  color: #fff;
}

nav ul {
  text-align: center;
}

nav a:hover {
  background-color: #cc1465;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  color: #cc1465;
  font-size: 1.875rem;
}

.img {
  max-width: 100%;
  display: inline-block;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: 10px;

}

header {
  background-color: #ffe500;
  padding: 0.1rem;
}
